@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Email Particular : @ViewData["Email"]</p>

<p>Use this area to provide additional information.</p>


<address>
    <strong>More information: </strong> <a href="www.google.com.br">Google.com.br</a>
</address>

